<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <a *ngIf="!userLoginOn" class="navbar-brand" href="#">Iniciar Sesión</a>
    <a *ngIf="userLoginOn" class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Mi cuenta
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><a class="dropdown-item" href="#">Colección</a></li>
          <li >
            <a class="dropdown-item" href="#">Cerrar sesión</a>
          </li>
        </ul>
      </a>

  </div>
</nav>
