<nav class="bottom-navigation dark-mode">
    <a
            routerLink="/index"
            routerLinkActive="active">
        <i class="fa fa-home"></i>
    </a>
    <a
            *ngIf="!userLoginOn"
            routerLink="/login"
            routerLinkActive="active">
        <i class="fa fa-user"></i>
    </a>
    <a
            *ngIf="userLoginOn"
            routerLink="/profile"
            routerLinkActive="active">
        <i class="fa fa-user-circle-o"></i>
    </a>
    <a

            routerLink="/logout"
            routerLinkActive="active">
        <i class="fa fa-search"></i>
    </a>
    <a
            (click)="logOut()"
            *ngIf="userLoginOn"
            routerLink="/index"
            routerLinkActive="active">
        <i class="fa fa-sign-out"></i>
    </a>
</nav>


